# VISUALISING THE EFFECTS OF COVID19 ON TRADE

## Imports

In [10]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import openpyxl #must be installed
from importlib import reload 
plt=reload(plt)

## 1. Read the data that is in the file and display it

In [11]:
df = pd.read_csv("data.csv")
df

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000
...,...,...,...,...,...,...,...,...,...,...,...
53249,Reimpor,2020,05/09/2020,Saturday,05/09/2020,All,All,All,$,0,126000000
53250,Reimpor,2020,06/09/2020,Sunday,06/09/2020,All,All,All,$,0,126000000
53251,Reimpor,2020,07/09/2020,Monday,07/09/2020,All,All,All,$,0,126000000
53252,Reimpor,2020,08/09/2020,Tuesday,08/09/2020,All,All,All,$,0,127000000
53253,Reimpor,2020,09/09/2020,Wednesday,09/09/2020,All,All,All,$,1000000,128000000

## 2. Getting the data for each year
* **2015**
    * (imports and exports value)
* **2016**
    * (imports and exports value)
* **2017**
    * (imports and exports value)
* **2018**
    * (imports and exports value)
* **2019**
    * (imports and exports value)
* **2020**
    * (imports and exports value)

### 2015

In [22]:
# imports
imp2015 = np.array(df.loc[(df.Direction =="Reimpor") & (df.Year == 2015)].Value)
# exports
exp2015 = np.array(df.loc[(df.Direction =="Exports") & (df.Year == 2015)].Value)

(222,)
(6659,)

In [ ]:
### 2016

In [ ]:
### 2017

In [ ]:
### 2018

In [ ]:
### 2019

### 2020