### Task 

In this task you are required to read the markdown for before each code cell and write the code based on the instructions given.


1. Import two packages `numpy` and `pandas` with their respective alias and print the versions of these packages so that the output will be as follows

```shell
numpy: 1.24.3
pandas: 2.1.1
```

In [1]:
import pandas as pd
import numpy as np

print(f"numpy: {np.__version__}")
print(f"pandas: {pd.__version__}")

numpy: 1.24.3
pandas: 2.1.1

A file called `cars.xlsx` contains the information about the cars. Read this file into a pandas dataframe and check the first `3` rows of this dataframe using the `head` method.

In [3]:
dataframe = pd.read_excel('files/cars.xlsx')
dataframe.head(3)

    mpg  engine  horse  weight  accel  year  origin  cylinder  filter_.   mpg1
0   9.0     4.0   93.0     732    8.5     0     NaN       NaN       NaN   9.98
1  10.0   360.0  215.0    4615   14.0    70     1.0       8.0       0.0  10.87
2  10.0   307.0  200.0    4376   15.0    70     1.0       8.0       0.0   9.63

In the following 3 code cells you are required to:
    
1. check if the dataframe has `na` values
2. check if the dataframe has `null` values
3. clean the dataframe using `drop_na()` function

In [5]:
dataframe.isna().any()

mpg          True
engine      False
horse        True
weight      False
accel       False
year        False
origin       True
cylinder     True
filter_.     True
mpg1         True
dtype: bool

In [6]:
dataframe.isnull().any()

mpg          True
engine      False
horse        True
weight      False
accel       False
year        False
origin       True
cylinder     True
filter_.     True
mpg1         True
dtype: bool

In [7]:
dataframe.dropna(inplace=True)

Save the cleaned values of the dataframe in a file called `cars_clean.csv`.

In [8]:
dataframe.to_csv('files/cars_clean.csv', index=False)
print('saved!')

saved!

You are required to create a dataframe called `df3` which will contain the following columns in it from the original dataframe.

1. mpg	
2. engine	
3. horse	
4. weight

In [9]:
df3 = dataframe[['mpg', 'engine', 'horse', 'weight']]
df3.head(1)

    mpg  engine  horse  weight
1  10.0   360.0  215.0    4615

In `df3` create a column called `isFast` which will have value `True` or `False` using the `np.where()` function based on the condition that a fast car has the `horse` power that is greater than `100`

In [12]:
df3['isFast'] = np.where(df3.horse>100, True, False)
df3.head(5)

C:\Users\RGaridzirai\AppData\Local\Temp\ipykernel_3536\366189886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['isFast'] = np.where(df3.horse>100, True, False)

    mpg  engine  horse  weight  isFast
1  10.0   360.0  215.0    4615    True
2  10.0   307.0  200.0    4376    True
3  11.0   318.0  210.0    4382    True
4  11.0   429.0  208.0    4633    True
5  11.0   400.0  150.0    4997    True

In `df3` divide all the values by `3` using the `div()` method and display the first `4` rows of the dataframe using the `head()` method.

In [13]:
df3.div(3).head(4)

        mpg      engine      horse       weight    isFast
1  3.333333  120.000000  71.666667  1538.333333  0.333333
2  3.333333  102.333333  66.666667  1458.666667  0.333333
3  3.666667  106.000000  70.000000  1460.666667  0.333333
4  3.666667  143.000000  69.333333  1544.333333  0.333333

In `df3` get the `mpg` values into a numpy array and slice the first `10` values.

In [14]:
mpg = df3.mpg.values[:10]
mpg

array([10., 10., 11., 11., 11., 11., 12., 12., 12., 12.])

Get the columns of the original dataframe using the `columns` propety and print them as a list.

In [15]:
for i, column in enumerate(dataframe.columns):
    print(f"{i+1}. {column}")

1. mpg
2. engine
3. horse
4. weight
5. accel
6. year
7. origin
8. cylinder
9. filter_.
10. mpg1

Get the uniquie values of the column `year` from the original dataset using the `unique` method and print them.

In [16]:
for i, year in enumerate(dataframe.year.unique()):
    print(f"{i+1}. {year}")

1. 70
2. 72
3. 73
4. 71
5. 74
6. 75
7. 76
8. 77
9. 79
10. 78
11. 81
12. 80
13. 82