### Task 

In this task you are required to read the markdown for before each code cell and write the code based on the instructions given.


1. Import two packages `numpy` and `pandas` with their respective alias and print the versions of these packages so that the output will be as follows

```shell
numpy: 1.24.3
pandas: 2.1.1
```

A file called `cars.xlsx` contains the information about the cars. Read this file into a pandas dataframe and check the first `3` rows of this dataframe using the `head` method.

In the following 3 code cells you are required to:
    
1. check if the dataframe has `na` values
2. check if the dataframe has `null` values
3. clean the dataframe using `drop_na()` function

Save the cleaned values of the dataframe in a file called `cars_clean.csv`.

You are required to create a dataframe called `df3` which will contain the following columns in it from the original dataframe.

1. mpg	
2. engine	
3. horse	
4. weight

In `df3` create a column called `isFast` which will have value `True` or `False` using the `np.where()` function based on the condition that a fast car has the `horse` power that is greater than `100`

In `df3` divide all the values by `3` using the `div()` method and display the first `4` rows of the dataframe using the `head()` method.

In `df3` get the `mpg` values into a numpy array and slice the first `10` values.

Get the columns of the original dataframe using the `columns` propety and print them as a list.

Get the uniquie values of the column `year` from the original dataset using the `unique` method and print them.